.balanceWrapper{
    display: flex;
    justify-content: space-between;

    width: 65px;

    position: fixed;
    top: 35px;
    right: 40px;

    z-index: 10;

    img{
        width: 30px;

        position: relative;
        left: 15px;
    }
    p{
        font-family: "Anek Devanagari", sans-serif;
        font-weight: 600;

        margin: auto;

        border-radius: 0px 10px 10px 0px;
        height: 20px;

        padding: 0px 8px 0px 12px;

        background-color: #222227;
        color: #1ED583;
    }
}