.dragBar {
  height: 20px;
  -webkit-app-region: drag; /* Enables dragging the window */
  display: flex;
  justify-content: flex-end;
  background: #222227;
  color: white;
}

.windowControls {
  display: flex;
  -webkit-app-region: no-drag; /* Prevent buttons from being draggable */
}

.windowControls button {
  background: transparent;
  border: none;
  color: white;
  padding: 0 10px;
  cursor: pointer;

  opacity: 25%;

  &:hover{
    opacity: 100%;
  }
}

#min{
    &:hover{
        color: #1e9ad3;
    }
}

#close{
    &:hover{
        color: #F77036;
    }
}