.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .addModal,
  .editModal {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 250px;

    background-color: $ui-color-dark;
    border-radius: 5px;

    h4 {
      @include ui-titles-font();
      text-align: center;
      background-color: #1ED583;
      color: $ui-color-dark;

      border-radius: 5px 5px 0 0;
      padding-top: 5px
    }

    input {
      border: none;
      border-bottom: 2px solid #1ED583;
      background: transparent;
      outline: none;
      padding: 4px 0;
      color: #fff;

      width: 200px;
      margin: 0 auto;
      padding-top: 20px;

      margin-bottom: 20px;

      opacity: .35;
      transition: opacity .2s ease-in-out;

      &:focus {
        opacity: 1;
      }
    }

    textarea {
      border: none;
      border-bottom: 2px solid #1ED583;
      background: transparent;
      outline: none;
      padding: 4px 0;
      color: #fff;

      width: 200px;
      margin: 0 auto;
      padding-top: 20px;

      margin-bottom: 20px;
      resize: none;

      overflow: hidden;
      text-overflow: ellipsis;

      opacity: .35;
      transition: opacity .2s ease-in-out;

      &:focus {
        opacity: 1;
      }
    }

    select {
      border: none;
      border-bottom: 2px solid #1ED583;
      background: transparent;
      outline: none;
      padding: 4px 0;
      color: #fff;

      width: 200px;
      margin: 0 auto;
      padding-top: 20px;

      margin-bottom: 20px;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 5px top 20px;
      background-size: 16px;

      opacity: .35;
      transition: opacity .2s ease-in-out;

      &:focus {
        opacity: 1;
      }
    }

    select option {
      background-color: #1B1B1F;
      color: #fff;
      padding: 8px;
    }

    span {
      @include base-font(300, 12px);
      color: $secondary-txt-color;
      width: 250px;
      text-align: center;
    }

    .addIconContainer {
      width: 200px;
      background-color: #1ED583;
      margin: 0 auto;
      border-radius: 5px;
      margin-top: 20px;

      display: flex;
      justify-content: center;
      padding: 3px;

      opacity: 35%;
      cursor: pointer;

      &:hover {
        opacity: 100%;
      }

      .addIcon {
        fill: $ui-color-dark;
      }
    }

    .cancelIconContainer {
      width: 200px;
      background-color: #F77036;
      margin: 0 auto;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;

      display: flex;
      justify-content: center;
      padding: 0px;

      opacity: 35%;
      cursor: pointer;

      &:hover {
        opacity: 100%;
      }

      .cancelIcon {
        fill: $ui-color-dark;
        width: 30px;
      }
    }

    .deleteIconContainer {
      width: 200px;
      background-color: #F77036ed;
      margin: 0 auto;
      border-radius: 5px;
      margin-bottom: 10px;

      display: flex;
      justify-content: center;
      padding: 0px;

      opacity: 35%;
      cursor: pointer;

      transition: opacity .2s ease-in-out;

      &:hover {
        opacity: 100%;
      }

      .deleteIcon {
        fill: $ui-color-dark;
        width: 30px;
      }
    }
  }
}