#rewardsWrapper {
    position: absolute;

    @include module-grid-layout($row-height: 50px);

    #rewardCard {
        .rewardContent {
            padding-left: 5px;
            width: 200px;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            &.common-opac:hover {
                background-color: rgba(255, 255, 255, 0.05);
            }
    
            &.uncommon-opac:hover {
                background-color: rgba(30, 255, 0, 0.05);
            }
    
            &.rare-opac:hover {
                background-color: rgba(0, 112, 221, 0.05);
            }
    
            &.epic-opac:hover {
                background-color: rgba(163, 53, 238, 0.05);
            }
    
            &.legendary-opac:hover {
                background-color: rgba(255, 128, 0, 0.05);
            }


            h4 {
                    @include base-font($weight: 600, $size: 18px);
                    color: $main-txt-color;
                    margin: auto 0;
                    height: 26px
                }
            }
        }

        .common {
            background: linear-gradient(to right, #FFFFFF, #999999);
        }

        .uncommon {
            background: linear-gradient(to right, #1EFF00, #129900);
        }

        .rare {
            background: linear-gradient(to right, #0070DD, #003C77);
        }

        .epic {
            background: linear-gradient(to right, #A335EE, #5D1E88);
        }

        .rankColor {
            width: 50px;
            cursor: pointer;

            .costWrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                cursor: pointer;
                transition: transform .15s ease-in-out;
                
                &:hover {
                    transform: scale(1.05);
                }

                img{
                    width: 23px;
                    padding-top: 5px;
                }

                p{
                    @include base-font($weight: 600, $size: 14px);
                    color: $ui-color-dark;
                }
            }
        }

        .common-reward {
            background: linear-gradient(to right, #FFFFFF, #999999);
            opacity: 0.5;
            transition: opacity .15s ease-in-out;
            
            &:hover {
                opacity: 0.75;
            }
        }

        .uncommon-reward {
            background: linear-gradient(to right, #1EFF00, #129900);
            opacity: 0.5;
            transition: opacity .15s ease-in-out;
            
            &:hover {
                opacity: 0.75;
            }
        }

        .rare-reward {
            background: linear-gradient(to right, #0070DD, #003C77);
            opacity: 0.5;
            transition: opacity .15s ease-in-out;
            
            &:hover {
                opacity: 0.75;
            }
        }

        .epic-reward {
            background: linear-gradient(to right, #A335EE, #5D1E88);
            opacity: 0.5;
            transition: opacity .15s ease-in-out;
            
            &:hover {
                opacity: 0.75;
            }
        }

        .legendary-reward {
            background: linear-gradient(to right, #FF8000, #994D00);
            opacity: 0.5;
            transition: opacity .15s ease-in-out;
            
            &:hover {
                opacity: 0.75;
            }
        }
    }

    .addRewardWrapper {
        @include add-wrapper(50px);
    }

