#ideasWrapper {
    @include module-grid-layout($row-height: 100px);

    #ideaCard {

        .bulbWrapper {
            width: 30px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            .bulb{
                fill: $main-txt-color;
                transform: scale(.75);
                opacity: .35;
                transition: opacity .2s ease-in-out;
                filter: drop-shadow(0px 0px 10px rgba(219, 185, 151, 0.35));
                &:hover {
                    opacity: 1;
                    filter: drop-shadow(0px 0px 10px rgba(219, 185, 151, 0.5));
                }
            }
        }

        .ideaContent {
            padding-left: 5px;
            width: 200px;
            height: 100px;
            overflow: hidden;
            display: flex;
            flex-direction: column;



            h4 {
                @include base-font($weight: 600, $size: 16px);
                color: $main-txt-color;
                padding-top: 5px;
                height: 26px
            }

            p {
                @include inter-font($weight: 300, $size: 12px);
                color: $main-txt-color;
                padding-top: 2px;
                padding-right: 3px;
                line-height: 15px;
            }
        }
    }
      
}

.addIdeaWrapper {
@include add-wrapper(100px);
}