#ideasWrapper {
    @include module-grid-layout($row-height: 100px);

    #ideaCard {

        .ideaContent {
            padding-left: 5px;
            width: 200px;
            overflow: hidden;
            display: flex;
            flex-direction: column;



            h4 {
                @include base-font($weight: 600, $size: 18px);
                color: $main-txt-color;
                padding-top: 2px;
                height: 26px
            }

            p {
                @include base-font($weight: 300, $size: 14px);
                color: $main-txt-color;
                padding-top: 5px;
                line-height: 18px;
            }
        }
    }
      

        .bulb {
            fill: $ui-color-dark;
            transform: scale(.75);
            margin: auto 0;
        }
}

.addIdeaWrapper {
@include add-wrapper(100px);
}