* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: $ui-color-dark;
    width: 800px;
    overflow-x: hidden;

    main {
        position: absolute;
        left: 50px;

        .moduleTitle {
            border-radius: 5px;
            margin-top: 30px;
            width: 1000px;
            height: 40px;
            padding-top: 2px;

            background: linear-gradient(to right, rgba(219, 185, 151, 0.35), #181818);

            z-index: 0;

            h1 {
                @include base-font($weight: 600, $size: 28px);
                padding-left: 10px;

                color: $ui-color-dark;
            }
        }

        .moduleWrapper {
            position: absolute;
            margin-left: 10px;


            .cardWrapper {
                position: relative;
                display: flex;
                justify-content: space-around;

                cursor: pointer;

                background-color: $ui-color-medium;
                border-radius: 5px 5px 5px 5px;

                transition: all .15s ease-in-out;

                &.common-opac:hover {
                    background-color: rgba(255, 255, 255, 0.05);
                }
        
                &.uncommon-opac:hover {
                    background-color: rgba(30, 255, 0, 0.05);
                }
        
                &.rare-opac:hover {
                    background-color: rgba(0, 112, 221, 0.05);
                }
        
                &.epic-opac:hover {
                    background-color: rgba(163, 53, 238, 0.05);
                }
        
                &.legendary-opac:hover {
                    background-color: rgba(255, 128, 0, 0.05);
                }

                .editIconContainer {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    opacity: 0;
                    transition: opacity 0.2s ease-in-out;
                    cursor: pointer;
                
                    .editIcon {
                      width: 20px;
                      height: 20px;
                      fill: white;
                      opacity: 0.3;
                      transition: opacity .15s ease-in-out;
        
                      &:hover {
                        opacity: 1;
                      }
                    }
                  }
                
                  &:hover .editIconContainer {
                    opacity: 0.75; 
                    cursor: pointer;
                  }

                .rankColor {
                    display: flex;
                    justify-content: center;
                    border-radius: 5px 0 0 5px;
                    width: 50px;
                    z-index: 10;
                }
        
                .common {
                    background: linear-gradient(to right, #FFFFFF, #999999);
                }
        
                .uncommon {
                    background: linear-gradient(to right, #1EFF00, #129900);
                }
        
                .rare {
                    background: linear-gradient(to right, #0070DD, #003C77);
                }
        
                .epic {
                    background: linear-gradient(to right, #A335EE, #5D1E88);
                }
        
                .legendary {
                    background: linear-gradient(to right, #FF8000, #994D00);
                }
            }
        }
    }
}

.plus {
    fill: $ui-color-dark;
    transform: scale(.75);
    margin: auto 0;
}