@mixin base-font ($weight: 600, $size: 28px) {
    font-family: "Cinzel", sans-serif;
    font-weight: $weight;
    font-size: $size;
  }

  @mixin inter-font ($weight: 600, $size: 28px) {
    font-family: "Inter", sans-serif;
    font-weight: $weight;
    font-size: $size;
  }
  
  @mixin module-grid-layout($row-height) {
    display: grid;
    grid-template-columns: repeat(4, 227px);
    grid-auto-rows: $row-height;
    gap: 10px;
  }

  @mixin add-wrapper ($height) {
    width: 227px;
    height: $height;
    border-radius: 5px;
    border: 3px dashed $ui-color-medium;

    display: flex;
    justify-content: center;

    opacity: 60%;

    cursor: pointer;

    &:hover {
        opacity: 100%;
        border: none;
        background-color: $ui-color-medium;
    }

    .addIcon {
        align-self: center;
        fill: #4A612F;

        opacity: 100%;
    }
  }