$ui-color-dark: #1B1B1F;
$ui-color-medium: #222227;
$ui-color-light: #313137;
$ui-color-lighter: #8C8C9D;

$main-txt-color: white;
$secondary-txt-color: #696969;

$common-color: #FFFFFF;
$uncommon-color: #1EFF00;
$rare-color: #0070DD;
$epic-color: #A335EE;
$legendary-color: #FF8000;
