:root {
  --bg-color: #1B1B1F;
  --ui-bg-color: #222227;
  --ui-txt-color: #313137;
  --txt-color: white;
}

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  background-color: var(--bg-color);
  color: var(--txt-color);
  width: 800px;
  overflow: hidden;
}
body main {
  position: absolute;
  left: 50px;
}
body .moduleTitle {
  border-radius: 5px;
  background: linear-gradient(to right, #3c3c46, #1B1B1F);
  margin: 10px;
  width: 740px;
  height: 40px;
  z-index: 0;
}
body .moduleTitle h1 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 28px;
  padding-left: 10px;
}

.dragBar {
  height: 20px;
  -webkit-app-region: drag; /* Enables dragging the window */
  display: flex;
  justify-content: flex-end;
  background: #222227;
  color: white;
}

.windowControls {
  display: flex;
  -webkit-app-region: no-drag; /* Prevent buttons from being draggable */
}

.windowControls button {
  background: transparent;
  border: none;
  color: white;
  padding: 0 10px;
  cursor: pointer;
  opacity: 25%;
}
.windowControls button:hover {
  opacity: 100%;
}

#close:hover {
  color: #F77036;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 50px;
  background-color: var(--ui-bg-color);
  z-index: 10;
}
.navWrapper .navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 68%;
  padding-top: 25px;
}

.navLink {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 44px;
  height: 44px;
  border-radius: 5px;
}
.navLink .nav-icon {
  width: 25px;
  height: 25px;
  margin: auto 0;
  fill: var(--ui-txt-color);
}
.navLink .nav-icon:hover {
  fill: #1ED583;
}
.navLink .nav-icon.active {
  fill: #1ED583; /* active color */
}

#settingsLink {
  margin-bottom: 10px;
}

.balanceWrapper {
  display: flex;
  justify-content: space-between;
  width: 65px;
  position: fixed;
  top: 35px;
  right: 40px;
  z-index: 10;
}
.balanceWrapper img {
  width: 30px;
  position: relative;
  left: 15px;
}
.balanceWrapper p {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  margin: auto;
  border-radius: 0px 10px 10px 0px;
  height: 20px;
  padding: 0px 8px 0px 12px;
  background-color: #222227;
  color: #1ED583;
}

.tagsWrapper {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 230px);
  grid-auto-rows: 50px;
  gap: 10px;
  margin-left: 10px;
}
.tagsWrapper .tagCard {
  display: flex;
  justify-content: space-around;
  background-color: var(--ui-bg-color);
  border-radius: 5px 5px 5px 5px;
  opacity: 60%;
  cursor: pointer;
}
.tagsWrapper .tagCard:hover {
  opacity: 100%;
}
.tagsWrapper .tagCard .tagContent {
  padding-left: 5px;
  width: 200px;
  overflow: hidden;
}
.tagsWrapper .tagCard .tagContent .labelLvlWrapper {
  display: flex;
  flex-direction: column;
}
.tagsWrapper .tagCard .tagContent .labelLvlWrapper .tagLabel {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding-top: 2px;
  height: 26px;
}
.tagsWrapper .tagCard .tagContent .labelLvlWrapper .tagLvl {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 300;
  font-size: 14px;
  opacity: 35%;
  padding-bottom: 2px;
}
.tagsWrapper .tagCard .tagContent .expBar {
  width: 200px;
  border-radius: 5px;
  height: 3px;
  position: relative;
  top: -18.5px;
  right: 4.8px;
  z-index: 0;
  opacity: 50%;
}
.tagsWrapper .tagCard .rankColor {
  display: flex;
  justify-content: center;
  border-radius: 5px 0 0 5px;
  width: 30px;
  z-index: 10;
}
.tagsWrapper .tagCard .rankColor .hashtag {
  fill: var(--ui-bg-color);
  margin: auto 0;
}
.tagsWrapper .tagCard .common {
  background: linear-gradient(to right, #FFFFFF, #999999);
}
.tagsWrapper .tagCard .uncommon {
  background: linear-gradient(to right, #1EFF00, #129900);
}
.tagsWrapper .tagCard .rare {
  background: linear-gradient(to right, #0070DD, #003C77);
}
.tagsWrapper .tagCard .epic {
  background: linear-gradient(to right, #A335EE, #5D1E88);
}
.tagsWrapper .tagCard .legendary {
  background: linear-gradient(to right, #FF8000, #994D00);
}
.tagsWrapper .addTagWrapper {
  width: 230px;
  height: 50px;
  border-radius: 5px;
  border: 3px dashed var(--ui-bg-color);
  display: flex;
  justify-content: center;
  opacity: 60%;
  cursor: pointer;
}
.tagsWrapper .addTagWrapper:hover {
  opacity: 100%;
  border: none;
  background-color: var(--ui-bg-color);
}
.tagsWrapper .addTagWrapper .addIcon {
  align-self: center;
  fill: #1ED583;
  opacity: 50%;
}

progress::-webkit-progress-bar {
  background-color: #D9D9D9;
  border-bottom-right-radius: 5px;
}

progress::-webkit-progress-value {
  background-color: #A335EE;
}

.formWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.formWrapper .addTagForm, .formWrapper .editTagForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  background-color: var(--bg-color);
  border-radius: 5px;
}
.formWrapper .addTagForm h4, .formWrapper .editTagForm h4 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  background-color: #1ED583;
  color: var(--bg-color);
  border-radius: 5px 5px 0 0;
  padding-top: 5px;
}
.formWrapper .addTagForm input, .formWrapper .editTagForm input {
  border: none;
  border-bottom: 2px solid #1ED583;
  background: transparent;
  outline: none;
  padding: 4px 0;
  color: #fff;
  width: 200px;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 20px;
}
.formWrapper .addTagForm span, .formWrapper .editTagForm span {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 300;
  font-size: 14px;
  opacity: 35%;
  width: 250px;
  text-align: center;
  font-size: 12px;
}
.formWrapper .addTagForm .addIconContainer, .formWrapper .editTagForm .addIconContainer {
  width: 200px;
  background-color: #1ED583;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 3px;
  opacity: 35%;
  cursor: pointer;
}
.formWrapper .addTagForm .addIconContainer:hover, .formWrapper .editTagForm .addIconContainer:hover {
  opacity: 100%;
}
.formWrapper .addTagForm .addIconContainer .addIcon, .formWrapper .editTagForm .addIconContainer .addIcon {
  fill: var(--bg-color);
}
.formWrapper .addTagForm .cancelIconContainer, .formWrapper .editTagForm .cancelIconContainer {
  width: 200px;
  background-color: #F77036;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  padding: 0px;
  opacity: 35%;
  cursor: pointer;
}
.formWrapper .addTagForm .cancelIconContainer:hover, .formWrapper .editTagForm .cancelIconContainer:hover {
  opacity: 100%;
}
.formWrapper .addTagForm .cancelIconContainer .cancelIcon, .formWrapper .editTagForm .cancelIconContainer .cancelIcon {
  fill: var(--bg-color);
  width: 30px;
}
.formWrapper .addTagForm .deleteIconContainer, .formWrapper .editTagForm .deleteIconContainer {
  width: 200px;
  background-color: rgba(247, 112, 54, 0.9294117647);
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  padding: 0px;
  opacity: 25%;
  cursor: pointer;
}
.formWrapper .addTagForm .deleteIconContainer:hover, .formWrapper .editTagForm .deleteIconContainer:hover {
  opacity: 100%;
}
.formWrapper .addTagForm .deleteIconContainer .cancelIcon, .formWrapper .editTagForm .deleteIconContainer .cancelIcon {
  fill: var(--bg-color);
  width: 30px;
}/*# sourceMappingURL=main.css.map */