@mixin titles-font {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 28px;
}

@mixin ui-titles-font {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

@mixin ui-lvl-font {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 300;
  font-size: 14px;
  opacity: 35%;
}

:root {
  --bg-color: #1B1B1F;
  --ui-bg-color: #222227;
  --ui-txt-color: #313137;
  --txt-color: white;

  --common-color: #FFFFFF;
  --uncommon-color: #1EFF00;
  --rare-color: #0070DD;
  --epic-color: #A335EE;
  --legendary-color: #FF8000;
}

@import "utils/variables";
@import "utils/mixins";
@import "utils/global";

@import "components/dragbar";
@import "components/nav";

@import "components/balance";

@import "components/ideas";
@import "components/tags";
@import "components/rewards";

@import "components/modals";